{% set points %}{{ points }}{% endset %}
{% set points = points|striptags|trim %}
{% set feedback_heading %}{{ feedback_heading }}{% endset %}
{% set feedback_heading = feedback_heading|striptags|trim %}
{%
  set classes = [
    'quiz-answer-option',
    'quiz-answer-option--points-' ~ points,
  ]
%}
{% set input_id %}{{ option_group_name }}_{{ option_value }}{% endset %}
<li{{ attributes.addClass(classes) }}>
  <input type="radio" name="{{ option_group_name }}" value="{{ option_value }}" id="{{ input_id }}">
  <label for="{{ input_id }}">{{ option }}</label>
  <div class="quiz-answer-option__feedback">
    {% if feedback_heading %}
      <h3 class="quiz-answer-option__feedback-heading">{{ feedback_heading }}</h3>
    {% endif %}
    {{ feedback }}
  </div>
</li>
