<article{{ attributes.addClass('quiz') }}>
  {{ body }}
  <ol class="quiz__questions">
    {{ questions }}
  </ol>
  {% if results %}
    <button disabled>{{ button_text }}</button>
    <div class="quiz__result">
      {% if result_heading %}
        <h2 class="quiz__result-heading">{{ result_heading }}</h2>
      {% endif %}
      {{ results }}
    </div>
  {% endif %}
</article>
